<!-- <div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" required />
    </div>
    <button type="submit">Login</button>

  </form>
  <button (click)="navigateToSignup()" class="signup-button">Signup</button>
  <a routerLink="/signup" class="signup-link">Signup</a>

</div>
 -->
    <div class="container">
        <div class="left-section">
            <div class="banner">
                <h1>Find Your Perfect College!</h1>
                <h2>Compare & Choose the Best Fit Based on Your CET Results.</h2>
                <h2>500+ <span>Colleges Ranked!</span></h2>
                <div class="stats">
                    <h4>Expert Guidance for Better Decisions.</h4>
                    <h4>Helping Students Build Bright Futures!</h4>
                </div>
                <div class="highlight-box">Thank you for trusting us.</div>
            </div>
        </div>
        <div class="right-section">
            <div class="form-container">
                <div class="highlight-title">Student Sign<span>-In</span></div>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="input-group">
                        <i class="icon user-icon"></i>
                        <input id="email" formControlName="email" type="email" required />
                      </div>
                    <div class="input-group">
                        <i class="icon lock-icon"></i>
                        <input id="password" formControlName="password" type="password" required />
                        <i class="icon show-password"></i>
                    </div>
                    <button type="submit" class="btn">Sign In</button>
              </form>
                <button (click)="navigateToSignup()" class="signup-button">Signup</button>
                <a routerLink="/signup" class="signup-link">Signup</a>
            </div>
        </div>
    </div>






    <!-- <footer>

        <div class="social-icons">
            <div class="icon-wrapper">
                <a href="https://www.youtube.com/" target="_blank">
                    <img src="assests/img/youtube.svg" alt="YouTube" class="social-icon">
                </a>
            </div>
            <div class="icon-wrapper">
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="assests/img/facebook.svg" alt="YouTube" class="social-icon">
                </a>
            </div>
            <div class="icon-wrapper">
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="assests/img/insta.svg" alt="YouTube" class="social-icon">
                </a>
            </div>
            <div class="icon-wrapper">
                <a href="https://www.twitter.com/" target="_blank">
                    <img src="assests/img/twitter.svg" alt="YouTube" class="social-icon">
                </a>
            </div>
            <div class="icon-wrapper">
                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="assests/img/linkedin.svg" alt="YouTube" class="social-icon">
                </a>
            </div>
          </div>
          
    </footer> -->

